@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.button {
		@apply w-full p-4 bg-black rounded-md text-white text-center font-bold text-xl cursor-pointer hover:bg-gray-800;
	}
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  	line-height: 1.5;
  	font-weight: 400;

	background-color: #E0E3EC;

  	/* color-scheme: light dark; */
  	color: rgba(255, 255, 255, 0.87);

  	font-synthesis: none;
  	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

html, body {
	padding: 0;
	margin: 0;
}
